<div class="container main">
  <h3>Login To Account</h3>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label 'Password confirmation' %>
    <%= f.password_field 'Password confirmation' %>

    <%= f.submit "Log In", class: "waves-effect waves-light btn" %>
  <% end %>
</div>
